@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
/* font-family: 'Prata', serif; */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
/* font-family: 'Cormorant Garamond', serif; */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
  cursor: pointer;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  display: none;
}

:root {
  --color-primary: white;
  --color-secondary: black;

  /* company's logo color */
  --color-green: #268436;

}

::selection {}